USE [dbProfunion]
GO
/****** Object:  Table [dbo].[Accommodation]    Script Date: 21.05.2024 14:09:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accommodation](
	[AccommodationID] [int] IDENTITY(1,1) NOT NULL,
	[AccommodationType] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AccommodationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Assistance]    Script Date: 21.05.2024 14:09:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Assistance](
	[AssistanceID] [int] IDENTITY(1,1) NOT NULL,
	[NumberProfcardReceived] [int] NULL,
	[LastName] [nvarchar](50) NULL,
	[FirstName] [nvarchar](50) NULL,
	[MiddleName] [nvarchar](50) NULL,
	[PaymentCriteriaID] [int] NULL,
	[Summa] [decimal](10, 2) NULL,
	[ExtractFromProtocol] [int] NULL,
	[MonthID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[AssistanceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CheckIn]    Script Date: 21.05.2024 14:09:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CheckIn](
	[CheckInID] [int] IDENTITY(1,1) NOT NULL,
	[NumberProfcardCheckIn] [int] NULL,
	[LastName] [nvarchar](50) NULL,
	[FirstName] [nvarchar](50) NULL,
	[MiddleName] [nvarchar](50) NULL,
	[StartCheckIn] [date] NULL,
	[EndCheckIn] [date] NULL,
	[AccommodationID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CheckInID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Commissions]    Script Date: 21.05.2024 14:09:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Commissions](
	[CommissionID] [int] IDENTITY(1,1) NOT NULL,
	[CommissionName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__Commissi__6C2C8CEC1366FFFA] PRIMARY KEY CLUSTERED 
(
	[CommissionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Events]    Script Date: 21.05.2024 14:09:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Events](
	[EventID] [int] IDENTITY(1,1) NOT NULL,
	[MemberResponsibleID] [int] NULL,
	[Title] [nvarchar](255) NULL,
	[DateOfEvent] [date] NULL,
	[PicEvent] [varbinary](max) NULL,
	[Desriptioin] [nvarchar](max) NULL,
 CONSTRAINT [PK__Events__7944C870DACEA10E] PRIMARY KEY CLUSTERED 
(
	[EventID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Members]    Script Date: 21.05.2024 14:09:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Members](
	[MemberID] [int] IDENTITY(1,1) NOT NULL,
	[NumberProfcard] [int] NULL,
	[LastName] [nvarchar](50) NULL,
	[FirstName] [nvarchar](50) NULL,
	[MiddleName] [nvarchar](50) NULL,
	[AcademicGroup] [nvarchar](10) NULL,
	[EntryDate] [date] NULL,
	[PhoneNumber] [nvarchar](15) NULL,
	[PositionID] [int] NULL,
	[CommissionID] [int] NULL,
	[UserID] [int] NULL,
	[VKLink] [nvarchar](255) NULL,
	[Photo] [varbinary](max) NULL,
 CONSTRAINT [PK__Members__0CF04B385A008B18] PRIMARY KEY CLUSTERED 
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Months]    Script Date: 21.05.2024 14:09:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Months](
	[MonthID] [int] IDENTITY(1,1) NOT NULL,
	[MonthName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MonthID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentCriteria]    Script Date: 21.05.2024 14:09:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentCriteria](
	[PaymentCriteriaID] [int] IDENTITY(1,1) NOT NULL,
	[Criteria] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentCriteriaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Positions]    Script Date: 21.05.2024 14:09:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Positions](
	[PositionID] [int] IDENTITY(1,1) NOT NULL,
	[PositionName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__Position__60BB9A59DB2912BC] PRIMARY KEY CLUSTERED 
(
	[PositionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 21.05.2024 14:09:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__Roles__8AFACE3AFA30C691] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 21.05.2024 14:09:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[UserRoleID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[RoleID] [int] NULL,
 CONSTRAINT [PK__UserRole__3D978A55684081BB] PRIMARY KEY CLUSTERED 
(
	[UserRoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 21.05.2024 14:09:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[PhoneNumber] [nvarchar](15) NULL,
 CONSTRAINT [PK__Users__1788CCACB7406775] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Accommodation] ON 

INSERT [dbo].[Accommodation] ([AccommodationID], [AccommodationType]) VALUES (1, N'да')
INSERT [dbo].[Accommodation] ([AccommodationID], [AccommodationType]) VALUES (2, N'нет')
SET IDENTITY_INSERT [dbo].[Accommodation] OFF
GO
SET IDENTITY_INSERT [dbo].[Assistance] ON 

INSERT [dbo].[Assistance] ([AssistanceID], [NumberProfcardReceived], [LastName], [FirstName], [MiddleName], [PaymentCriteriaID], [Summa], [ExtractFromProtocol], [MonthID]) VALUES (1, NULL, N'Иванов', N'Сергей', N'Петрович', 1, CAST(4000.00 AS Decimal(10, 2)), 13, 5)
INSERT [dbo].[Assistance] ([AssistanceID], [NumberProfcardReceived], [LastName], [FirstName], [MiddleName], [PaymentCriteriaID], [Summa], [ExtractFromProtocol], [MonthID]) VALUES (2, NULL, N'Петрова', N'Анна', N'Ивановна', 2, CAST(2000.00 AS Decimal(10, 2)), 14, 6)
INSERT [dbo].[Assistance] ([AssistanceID], [NumberProfcardReceived], [LastName], [FirstName], [MiddleName], [PaymentCriteriaID], [Summa], [ExtractFromProtocol], [MonthID]) VALUES (3, NULL, N'Сидоров', N'Виктор', N'Алексеевич', 3, CAST(2000.00 AS Decimal(10, 2)), 15, 8)
SET IDENTITY_INSERT [dbo].[Assistance] OFF
GO
SET IDENTITY_INSERT [dbo].[CheckIn] ON 

INSERT [dbo].[CheckIn] ([CheckInID], [NumberProfcardCheckIn], [LastName], [FirstName], [MiddleName], [StartCheckIn], [EndCheckIn], [AccommodationID]) VALUES (2, 2, N'Петрова', N'Мария', N'Сергеевна', CAST(N'2023-06-05' AS Date), CAST(N'2023-06-28' AS Date), 2)
INSERT [dbo].[CheckIn] ([CheckInID], [NumberProfcardCheckIn], [LastName], [FirstName], [MiddleName], [StartCheckIn], [EndCheckIn], [AccommodationID]) VALUES (1002, NULL, N'авыав', N'аыв', N'аыв', CAST(N'2024-05-22' AS Date), CAST(N'2024-05-29' AS Date), 1)
SET IDENTITY_INSERT [dbo].[CheckIn] OFF
GO
SET IDENTITY_INSERT [dbo].[Commissions] ON 

INSERT [dbo].[Commissions] ([CommissionID], [CommissionName]) VALUES (1, N'Профком')
INSERT [dbo].[Commissions] ([CommissionID], [CommissionName]) VALUES (2, N'Культурно-массовая комиссия')
INSERT [dbo].[Commissions] ([CommissionID], [CommissionName]) VALUES (3, N'Жилищно-бытовая комиссия')
SET IDENTITY_INSERT [dbo].[Commissions] OFF
GO
SET IDENTITY_INSERT [dbo].[Events] ON 

INSERT [dbo].[Events] ([EventID], [MemberResponsibleID], [Title], [DateOfEvent], [PicEvent], [Desriptioin]) VALUES (2, 2, N'Проведение семинара', CAST(N'2024-06-15' AS Date), NULL, NULL)
INSERT [dbo].[Events] ([EventID], [MemberResponsibleID], [Title], [DateOfEvent], [PicEvent], [Desriptioin]) VALUES (3, 3, N'Культурный фестиваль', CAST(N'2024-07-10' AS Date), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Events] OFF
GO
SET IDENTITY_INSERT [dbo].[Members] ON 

INSERT [dbo].[Members] ([MemberID], [NumberProfcard], [LastName], [FirstName], [MiddleName], [AcademicGroup], [EntryDate], [PhoneNumber], [PositionID], [CommissionID], [UserID], [VKLink], [Photo]) VALUES (2, 360, N'Арапова', N'Анастасия', N'Михайловна', N'310', CAST(N'2021-09-01' AS Date), N'89022319593', 2, 1, 2, N'https://vk.com/a.arapovaa?from=search', NULL)
INSERT [dbo].[Members] ([MemberID], [NumberProfcard], [LastName], [FirstName], [MiddleName], [AcademicGroup], [EntryDate], [PhoneNumber], [PositionID], [CommissionID], [UserID], [VKLink], [Photo]) VALUES (3, 1890, N'Шитихина', N'Варвара', N'Андреевна', N'213Б', CAST(N'2022-09-01' AS Date), N'89271826292', 2, 1, 3, N'https://vk.com/v_shitikhina?from=search', NULL)
SET IDENTITY_INSERT [dbo].[Members] OFF
GO
SET IDENTITY_INSERT [dbo].[Months] ON 

INSERT [dbo].[Months] ([MonthID], [MonthName]) VALUES (1, N'Январь')
INSERT [dbo].[Months] ([MonthID], [MonthName]) VALUES (2, N'Февраль')
INSERT [dbo].[Months] ([MonthID], [MonthName]) VALUES (3, N'Март')
SET IDENTITY_INSERT [dbo].[Months] OFF
GO
SET IDENTITY_INSERT [dbo].[PaymentCriteria] ON 

INSERT [dbo].[PaymentCriteria] ([PaymentCriteriaID], [Criteria]) VALUES (1, N'Мобилизация близкого родственника (отец)')
INSERT [dbo].[PaymentCriteria] ([PaymentCriteriaID], [Criteria]) VALUES (2, N'Реабилитация после операции')
INSERT [dbo].[PaymentCriteria] ([PaymentCriteriaID], [Criteria]) VALUES (3, N'Потеря кормильца (мать)')
SET IDENTITY_INSERT [dbo].[PaymentCriteria] OFF
GO
SET IDENTITY_INSERT [dbo].[Positions] ON 

INSERT [dbo].[Positions] ([PositionID], [PositionName]) VALUES (1, N'Председатель')
INSERT [dbo].[Positions] ([PositionID], [PositionName]) VALUES (2, N'Заместитель председателя')
INSERT [dbo].[Positions] ([PositionID], [PositionName]) VALUES (3, N'Руководитель')
SET IDENTITY_INSERT [dbo].[Positions] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (2, N'Заместитель председателя')
INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (1, N'Председатель')
INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (6, N'Руководитель жилищно-бытовой комиссии')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[UserRoles] ON 

INSERT [dbo].[UserRoles] ([UserRoleID], [UserID], [RoleID]) VALUES (1, 1, 1)
INSERT [dbo].[UserRoles] ([UserRoleID], [UserID], [RoleID]) VALUES (5, 1, 1)
INSERT [dbo].[UserRoles] ([UserRoleID], [UserID], [RoleID]) VALUES (6, 2, 1)
SET IDENTITY_INSERT [dbo].[UserRoles] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Username], [Email], [PasswordHash], [PhoneNumber]) VALUES (1, N'admin', N'admin@mail.ru', N'password123', N'89271234567')
INSERT [dbo].[Users] ([UserID], [Username], [Email], [PasswordHash], [PhoneNumber]) VALUES (2, N'chairman', N'chairman@mail.ru', N'chairman123', N'89276543210')
INSERT [dbo].[Users] ([UserID], [Username], [Email], [PasswordHash], [PhoneNumber]) VALUES (3, N'deputy1', N'deputy1@mail.ru', N'deputy123', N'89011234567')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__8A2B616091E0CEB1]    Script Date: 21.05.2024 14:09:47 ******/
ALTER TABLE [dbo].[Roles] ADD  CONSTRAINT [UQ__Roles__8A2B616091E0CEB1] UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E4A34F344E]    Script Date: 21.05.2024 14:09:47 ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UQ__Users__536C85E4A34F344E] UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Assistance]  WITH CHECK ADD FOREIGN KEY([MonthID])
REFERENCES [dbo].[Months] ([MonthID])
GO
ALTER TABLE [dbo].[Assistance]  WITH CHECK ADD FOREIGN KEY([PaymentCriteriaID])
REFERENCES [dbo].[PaymentCriteria] ([PaymentCriteriaID])
GO
ALTER TABLE [dbo].[CheckIn]  WITH CHECK ADD FOREIGN KEY([AccommodationID])
REFERENCES [dbo].[Accommodation] ([AccommodationID])
GO
ALTER TABLE [dbo].[Events]  WITH CHECK ADD  CONSTRAINT [FK__Events__MemberRe__49C3F6B7] FOREIGN KEY([MemberResponsibleID])
REFERENCES [dbo].[Members] ([MemberID])
GO
ALTER TABLE [dbo].[Events] CHECK CONSTRAINT [FK__Events__MemberRe__49C3F6B7]
GO
ALTER TABLE [dbo].[Members]  WITH CHECK ADD  CONSTRAINT [FK__Members__Commiss__45F365D3] FOREIGN KEY([CommissionID])
REFERENCES [dbo].[Commissions] ([CommissionID])
GO
ALTER TABLE [dbo].[Members] CHECK CONSTRAINT [FK__Members__Commiss__45F365D3]
GO
ALTER TABLE [dbo].[Members]  WITH CHECK ADD  CONSTRAINT [FK__Members__Positio__44FF419A] FOREIGN KEY([PositionID])
REFERENCES [dbo].[Positions] ([PositionID])
GO
ALTER TABLE [dbo].[Members] CHECK CONSTRAINT [FK__Members__Positio__44FF419A]
GO
ALTER TABLE [dbo].[Members]  WITH CHECK ADD  CONSTRAINT [FK__Members__UserID__46E78A0C] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Members] CHECK CONSTRAINT [FK__Members__UserID__46E78A0C]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK__UserRoles__RoleI__4222D4EF] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK__UserRoles__RoleI__4222D4EF]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK__UserRoles__UserI__412EB0B6] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK__UserRoles__UserI__412EB0B6]
GO
